resources/hg38/Homo*
resources/hg38/shapeit/Phasing_reference/*
resources/hg38/shapeit/shapeit_maps/*
resources/hg38/smurf/Mutational_blacklists/*.bed
resources/hg38/gripss/gridss_pon_breakpoint.bedpe
resources/hg38/cobalt/COBALT_PTA_Normalized_Full.txt
resources/hg38/cobalt/COBALT_PTA_Normalized_Full_OLD.txt
demo/
.nextflow*
containers/
out/
work/
ptato_1.2.0.sifdemo/
Loading apptainer-1.2.5/python-3.11.6-ny64pse
  Loading requirement: python-3.11.6/perl-5.38.0 git-2.42.0/perl-5.38.0 go-1.21.3/perl-5.38.0
